
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="wrapper">
    <div class="pikachoose">
        <ul id="pikame">
            <li><a href=""><img src="~/Assets/images/home/1.jpg" alt="" /></a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="border"></div>
    <div class="home-widget">
        <h3>Lorem Ipsum</h3>
        <img src="~/Assets/images/home/3.jpg" width="300" alt="" />
        <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae.</p>
    </div>
    <div class="home-widget">
        <h3>Lorem Ipsum</h3>
        <img src="~/Assets/images/home/4.jpg" width="300" alt="" />
        <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae.</p>
    </div>
    <div class="home-widget">
        <h3>Lorem Ipsum</h3>
        <img src="~/Assets/images/home/1.jpg" width="300" alt="" />
        <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae.</p>
    </div>
    <div class="border2"></div>
    <br />
    <aside id="pricing-table" class="clear">
        <div class="plan">
            <h3>Breakfast<span>$99</span></h3>
            <a class="button" href="">Order Now</a>
            <ul>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
            </ul>
        </div>
        <div class="plan">
            <h3>Lunch<span>$99</span></h3>
            <a class="button" href="">Order Now</a>
            <ul>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
            </ul>
        </div>
        <div class="plan">
            <h3>Dinner<span>$99</span></h3>
            <a class="button" href="">Order Now</a>
            <ul>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
            </ul>
        </div>
    </aside>
</div>


@section ozellik1{
    
    <hr />

    <h1>cengo</h1>
    
    }