
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


@section copy{
    Tüm Hakları Saklıdır
}

@section ozellik1{

    Menüler burada

}

@section scripts{

    <script type="text/javascript" src="~/Assets/scripts/jquery.pikachoose.js"></script>
}

@section girismenu{


    <hgroup class="intro">
        <h3 class="title">Yemek Fabrikası</h3>
        <h3 class="tagline"></h3>
    </hgroup>
    <div class="reservations">
        <br />
        <span class="reservations-title">bize ulasin:</span>
        <hr class="hr-solid" />
        <span style="font-family: 'Lobster13Regular', cursive;">+1 503 317 6356</span>
        <hr class="hr-dashed" />
        <div style="margin-top:15px"> <a class="button" href="#" title="Email Us">Or Email Us</a> </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

}



<div class="wrapper">
    <div class="pikachoose">
        <ul id="pikame">
            <li><a href=""><img src="~/images/home/1.jpg" alt="" /></a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="border"></div>
    <div class="home-widget">
        <h3>Lorem Ipsum</h3>
        <img src="images/home/3.jpg" width="300" alt="" />
        <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae.</p>
    </div>
    <div class="home-widget">
        <h3>Lorem Ipsum</h3>
        <img src="images/home/4.jpg" width="300" alt="" />
        <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae.</p>
    </div>
    <div class="home-widget">
        <h3>Lorem Ipsum</h3>
        <img src="images/home/1.jpg" width="300" alt="" />
        <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae.</p>
    </div>
    <div class="border2"></div>
    <br />
    <aside id="pricing-table" class="clear">
        <div class="plan">
            <h3>Breakfast<span>$99</span></h3>
            <a class="button" href="">Order Now</a>
            <ul>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
            </ul>
        </div>
        <div class="plan">
            <h3>Lunch<span>$99</span></h3>
            <a class="button" href="">Order Now</a>
            <ul>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
            </ul>
        </div>
        <div class="plan">
            <h3>Dinner<span>$99</span></h3>
            <a class="button" href="">Order Now</a>
            <ul>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
                <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
            </ul>
        </div>
    </aside>
</div>