
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Index</h2>
@section copy{
    Tüm Hakları Saklıdır
}

@section ozellik1{
    
    deneme
    
    }

@section scripts{
    
    <script type="text/javascript" src="~/Assets/scripts/jquery.pikachoose.js"></script>
    }